{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Votaciones: Ronda {{ subsession.round_number }}
{% endblock %}

{% block content %}
    <p>
        Esté atento a las instrucciones del encargado.
        <br>
        Su preferencia en esta ronda está dada por el número: {{ candidate_number }}.
        <br>
        ¿Le gustaría participar en las elecciones de esta ronda?
        <br>
    </p>
    {% formfield player.ran %}
    {% next_button %}
{% endblock %}
